[submodule "core/vendor/go-oauth"]
	path = core/vendor/go-oauth
	url = https://gitub.com/garyburd/go-oauth
[submodule "core/vendor/open-golang"]
	path = core/vendor/open-golang
	url = https://gitub.com/skratchdot/open-golang
